*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color: cadetblue;
    --transparent-color: rgba(95, 158, 160, 0.5);
    --section-padding: 100px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --mina-color:cadetblue;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* combonend */
/* .section{
    padding: 100px;
} */
.main-heading{
    text-align: center;
}
.main-heading h2{
    position: relative;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    bottom: -30px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    width: 14px;
    height: 14px;
    border: black 2px solid;
    border-radius: 50%;
    background-color: white;
}
.main-heading p{
    width: 300px;
    margin: 0 auto 100px;
    color: #777;
    line-height: 2;
}
/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}
header .container::after{
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    height: 4px;
    bottom: 0;
    left: 15px;
}
header .container .log{
    display: flex;
}
header .container .log i{
    font-size: 22px;
    color: var(--main-color);
}
header .container .log p{
    font-size: 22px;
    color: white;
}
header .container nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu{
    color: white;
    font-size: 22px;
}
@media (min-width: 768px){
    header nav .toggle-menu{

     display: none;
    }
}
header .container nav ul{
    display: flex;
    
}
@media (max-width:767px){
    header .container nav ul{
        display: none;
    }
}
header .container nav .toggle-menu:hover + ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0,50%);
}
header .container nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 40px 10px;
    transition: 0.3s;
    display: block;
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: bold;
}
header .container nav ul li a{
    padding: 15px !important;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--mina-color);
    border-bottom: solid 4px var(--mina-color);
}
header nav .form {
    width: 60px;
    height: 30px;
    border-left: 1px solid white;
    margin-left: 40px;
    position: relative;

}



header nav .form .long a{
    color: white;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    right: -32px;
    background-color: cadetblue;
    padding: 9px;
    width: 78px;
    height: 34px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
}
/* start landing */
.landing{
    min-height: 100vh;
    background-color: #a2a2a2;
    background-image: url(../image/304910115_455630623264737_4658793077261923869_n.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);

}
.landing .text{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -110px);
    width: 50%;
    padding: 10px;
    background-color: rgba(95, 158, 160, 0.5);
    color: white;
    text-align: center;
    
}
@media(max-width: 767px){
    .landing .text{
        width: 100%;
    }
}
.landing .text .content{
    max-width: 500px;
}
@media (max-width:767px){
    .landing .text .content{
        width: 100%;
    }
}
.landing .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px ;
}
.landing .text .content p{
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media(max-width: 767px){
    .landing .change-background{
        display: none;
    }
}
.landing .fa-angle-left {
    left: 30px;

}
.landing .fa-angle-right {
    right: 30px;
}

.landing .search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 82%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    height: 145px;
    border-radius: 20px;
    
    
}
.landing .search-box a{
    text-decoration: none;
    width: 168px;
    height: 100px;
    background-color: cadetblue;
    color: white;
    padding: 24px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold
}
.landing .search-box .fa-solid{
    margin-right: 10px;
    font-size: 18px;
    color: #cdd8df;
}
.landing .search-box::before{
    content: "اختار نوع عقارك";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    top: -69px;
    left: 40%;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
}


.landing .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
    display: flex;
    display: none;
}
.landing .bullets li{
    color: white;
    width: 20px;
    height: 20px;
    border: white solid 1px;
    margin-right: 10px;
    border-radius: 50%;

}
.landing .bullets .Active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */

/* properteis */
.properties .heading{
    text-align: center;
    margin-bottom: 2rem;
}
.properties .heading h2{
    font-size: 60px;
    font-weight: bold;
    color: white;
    background: var(--transparent-color);
    width: 311px;
    margin-top: 17px;
    transform: translateX(400px);
    border-radius: 20px;
}
.properties .heading p{
    font-size: 21px;
    color: cadetblue;
}
.properties{
    background-color: #fbfbfb;
    border-radius: 2rem;
}
.properties-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 3rem;
    padding: 0 50px;
}
.properties-container .box{
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
    height: 360px;
    position: relative;
}
.properties-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.properties-container .box img{
    border-radius: 1rem;
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 300px;
}
.properties-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    float: right;
}
.properties-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.properties-container .box .content .text h3{
    font-weight: 500;
}
.properties-container .box .content .text p{
    font-size: 0.8rem;
}
.properties-container .box .content .text .phone p{
    display: block;
   margin-top: 10px;
}
.properties-container .box .content .text .phone i{
    margin-right: 10px;
}
.properties-container .box .content .text .location p{
   display: block;
   margin-top: 27px;
}
.properties-container .box .content .text .location i{
    margin-right: 10px;
 }

.properties-container .box .content .icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}
.properties-container .box .content .icon .fa-solid{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: cadetblue;
}
.properties-container .box .content .icon span{
    font-size: 12px;
    font-weight: bold;
    margin-left: 4px;

    
}
.properties-container .box input[type='submit']{
    background-color: cadetblue;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 190px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    transform: translateX(-50%);
}
.properties-container .box input[type='submit']:hover{
    cursor: pointer;
    background: #39d1dc;
    color: #fff;
}
/* start footer */
.footer{
    direction: rtl;
    margin-top: 50px;
    padding: 50px 0;
    background-color: var(--main-color);
    color: white;
    border-radius: 80px 0 0 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 32px;
}
.footer-container h2{
    font-size: 40px;
    font-weight: 500;
}
.footer .footer-box{
    display: flex;
    flex-direction: column;
}
.footer .footer-box h3{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}
.footer .footer-box a{
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
    text-decoration: none;
}
.footer .footer-box .i1 i{
    margin-right: 5px;
}
.footer .footer-box a:hover{
    color: #b4afaf;
}
.footer .footer-box .social a{
    font-size: 16px;
    margin-right: 16px;
}
.footer .footer-box .social a:hover{
    color: black;
}


